/* здесь общая условия */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  
  background-image: url(https://sun9-east.userapi.com/sun9-20/s/v1/ig2/Egzb29FZvpZyZb3QpciVHvgERBu8V6qXgiXgOeTqZ61xkEiQvt1Oppt-3p82W0GQsXzqwO0wl4Ykv5tb3lpWMoRv.jpg?size=698x1080&quality=95&type=album);
  background-repeat: no-repeat;
  background-position:center;
 
  width: 100%;
  height: auto;
  
  
  

}
h1{
  text-align: center;
}
h3{
  text-align: center;
  padding-top: 800px;
}

/* здесь основная часть */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  box-shadow: 0 5px 10px #000;
}

.logo {
  font-size: 20px;
  font-weight: 900;
  color: #000;
  transition: .5s;
}

.logo:hover {
  transform: scale(1.2);
}

header nav ul li {
  position: relative;
  float: left;
}

header nav ul li a {
  padding: 15px;
  color: #000;
  font-size: 16px;
  display: block;
}

header nav ul li a:hover {
  background: #000;
  color: #fff;
}

nav ul li ul {
  position: absolute;
  left: 0;
  width: 180px;
  background: #fff;
  display: none;
}

nav ul li ul li {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
}

nav ul li:hover>ul {
  display: initial;
}



/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
  display: flex;
  /* используем flex для центрирования содержимого */
  align-items: center;
  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

/* добавляем "гамбургер" */
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked~.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  visibility: visible;
  left: 0;
}

/* добвим немножка анимации */
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  transition-duration: .25s;
}

.menu__box {
  transition-duration: .25s;
}

.menu__item {
  transition-duration: .25s;
}
/* здесь media запросы */
@media (min-width: 767px) {
  .log-2 {
    display: none;
 
  }
}

@media (max-width: 768px) {
  .log {
    display: none;
  
  } 
}
